$groen: #4B8996;
$donkerblauw: #012836;
$wit: #fff;

// ------------------ ALGEMEEN ------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "PT sans";
}

body {
  overflow-x: hidden;
}

main {
  width: 75%;
  margin: 5rem auto;
}

button {
  background-color: $groen;
  color: $wit;
  letter-spacing: 5px;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;

  :hover {
    background-color: transparent;
    color: $donkerblauw;
  }
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: $donkerblauw;
  padding: 2rem 0;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  color: $donkerblauw;
  padding: 2rem 0;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  color: $donkerblauw;
  padding: 2rem 0;
}

p, a {
  font-weight: normal;
  font-size: 20px;
  color: $donkerblauw;
  text-decoration: none;
}

a:hover {
  color: $groen;
}

@mixin input{
  height: 3rem;
  border-radius: 0.5rem;
  border-color: $donkerblauw;
  margin-bottom: 1.5rem;
}

// ------------------ NAVIGATIE ------------------

nav {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $donkerblauw;
  padding: 0 40px;


  .menu-items {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      color: $wit;

      :hover {
        color: $groen;
      }
    }

    button {
      background-color: #fff;
      color: $donkerblauw;
      text-decoration:none;

      :hover {
        background-color: transparent;
        color: $wit;
      }
    }
  }
}

// ------------------ HEADER(s) ------------------

@mixin header{
  width: 70%;
  margin: 5rem auto;
}

.header1 {
  @include header();

  .tekst {
    margin-top: 10%;
  }

  .fotos {

    :nth-child(1) {
      position: absolute;
      top: 28%;
      left: 55%;
    }

    :nth-child(2) {
      position: absolute;
      top: 50%;
      left: 70%;
    }
  }
}
.header2{
@include header;
.tekst{
  margin-top: 15%;
}
  .fotos{
    :nth-child(1){
      position: absolute;
      top: 45%;
      left: 12%;
    }
    :nth-child(2){
      position: absolute;
      top: 25%;
    }
  }
}

  // ------------------ FOOTER ------------------

  footer {
    margin-top: 2rem;
    p, a {
      font-size: 12pt;
      margin-top: 20px;
    }

    .gegevensfooter {

      .gegevensmeticonen {
        align-items: center;
        padding: 2rem;

        p, a {
          width: 100%;
          text-align: left;
        }
        div {
          width: 100%;

          img {
            width: 20%;
            height: fit-content;
          }

          p, a {
            width: 70%;
          }
        }

        .socialsfooter {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 100%;
          a {
            width: 15%;
          }
        }
      }

      .lijn {
        border-right: 1px solid $donkerblauw;
      }
    }

    .balkfooter {
      background-color: $donkerblauw;
      width: 100%;
      height: 40px;
      justify-content: space-evenly;

      a {
        color: $wit;
        font-size: 10pt;

        :hover {
          color: $groen;
        }
      }
    }
  }

  // ------------------ FEDERATIES ------------------


  .federaties{
    margin-top: 5rem;
    img{
      max-width: 100%;
      max-height: 15rem;
      height: fit-content;
      width: fit-content;
    }
  }

// ------------------ BOLLEN ------------------
