@use "algemeen" as *;


#contact main #contactformulier form {
  width: 40%;
}

#contact main #contactformulier h1 {
  padding-bottom: 50px;
}

#contactformulier {
  input, textarea {
    width: 50%;
    @include input();
  }

  textarea {
    height: 6rem;
  }

  #privacy {
    height: 1.5rem;
    margin-bottom: 0;
  }

  #privacy-label {
  margin-bottom: 2.5rem;
  }
}




