@use "algemeen" as *;

#header-home{
  height: 35rem;
}
#header-home h1{
  color: $wit;
  position: relative;
  top: 25rem;
  text-align: right;
  padding: 2rem;
}

// sectie1
#welkomhome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 0;
}

// sectie1 tekst
#welkomhome .tekst {
  width: 75%;
  padding-right: 100px;
}

#welkomhome .tekst h2 {
  padding: 50px 0;
}

#welkomhome .tekst p {
  padding-bottom: 50px;
  width: 75%;
}

#welkomhome .tekst a {
  width: 100%;
  display: flex;
  justify-content: right;
}

// sectie1 img
#welkomhome .fotos {
  position: relative;
  left: 250px;
}

#welkomhome .fotos .foto-top {
  max-width: 328px;
  max-height: 268px;
}

#welkomhome .fotos .foto-mid {
  max-width: 479px;
  max-height: 257px;
}

#welkomhome .fotos .foto-bot {
  max-width: 199px;
  max-height: 376px;
  position: relative;
  right: 250px;
  bottom: 150px;
}

// sectie2 + sectie3
#aanbodhome, .dank {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#aanbodhome h2, .dank h2 {
  width: 100%;
}

#aanbodhome div, .dank div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 50px 0 100px 0;
}

#aanbodhome div a, .dank div a {
  width: 30%;
  display: flex;
  justify-content: center;
}

.dank div a img {
  max-width: 100%;
  height: 300px;
}

#aanbodhome div a button {
  width: 100%;
  height: 500px;
}

#aanbodhome div a button:hover {
  background-image: url("../assets/Mask group.png");
  background-size: cover;
  color: $wit;
}