@use "algemeen" as *;

#initiatie-main{
  margin: 5rem auto;
  h1, p{
    text-align: center;
  }
  section{
    .fotos{
      :nth-child(1){
        position: relative;
        left: 5%;
      }
      :nth-child(2){
        position: relative;
        left: 35%;
        top: -10%;
      }
      :nth-child(3){
        position: relative;
        top: -15%;
      }
    }
    .tekst p{
      text-align: start;
    }
  }
}
