@use "algemeen" as *;

.buttonwit {
  background-color: $wit;
  color: $donkerblauw;
  border: 1px solid $donkerblauw;

  :hover {
    background-color: $groen;
    color: $wit;
    border: none;
  }
}

.header-leden {
  background-size: cover;
  background-position: center;
  height: 450px;
}

.ice-lijst {
  .fotos {
    :nth-child(1) {
      position: relative;
      left: 30%;
      top: 10%;
    }

    :nth-child(2) {
      position: relative;
      top: 7%;
      left: 40%;
    }
  }

  .tekst {
    ul {
      li {
        list-style-type: none;
        padding: 0.5rem 0;
      }
    }
  }
}

.documenten {
  margin: 5rem auto;

  #filters {

    button {
      font-size: 16px;
      padding: 10px 15px;
      line-height: 12px;
      justify-content: center;
      align-items: center;
      letter-spacing: 0;
      margin: 10px 10px 10px 0;

      img {
        margin: 0 0 0 10px;
      }
    }
  }

  hr {
    border: 2px solid $donkerblauw;
  }
}
