@use "algemeen" as *;

#over_overons {
  @include header();

  .tekst {
    margin-top: 10%;
  }

  .fotos {
    margin-top: 2rem;

    :nth-child(1) {
      position: absolute;
      top: 30%;
      left: 55%;
    }

    :nth-child(2) {
      position: absolute;
      top: 50%;
      left: 70%;
    }
  }
}

#bestuur {
  h2 {
    width: 100%;
  }

  #personen {
    margin: 2rem auto;

    .persoon {
      align-items: center;
      text-align: center;

      div {
        padding: 10px 0;
      }
    }
  }
}

#watdoenwij {
  margin: 4rem auto;

  div {
    .tekstlinks {
      width: 40%;
      text-align: right;

      a {
        width: 100%;
        align-content: flex-end;
      }

    }

    .fotos {

      :nth-child(1) {
        position: relative;
        top: 0;
        left: 40%;
      }

      :nth-child(2) {
        position: relative;
        top: -5%;
        left: 10%;
      }

      :nth-child(3) {
        position: relative;
        top: -20%;
        left: 80%;
        scale: 0.8;
      }
      margin-bottom: -10%;
    }

    .tekstrechts {
      justify-content: flex-start;
      width: 40%;
    }


    .fotosleft {
      :nth-child(1) {
        position: relative;
      }

      :nth-child(2) {
        position: relative;
        top: -18%;
        left: 30%;
      }

      :nth-child(3) {
        position: relative;
        top: -20%;
        left: 5%;
      }
    }
  }
}

#kaartoverons {
  margin: 4rem auto;
}