
<nav>
    <div id="groot_menu">
        <a href="index.html">
            <img src="static/assets/Dolfijn%201.png" alt="logo">
        </a>
        <div class="menu-items">
            <a href="over-ons.html">Over ons</a>
            <a href="duiken.html">Duiken</a>
            <a href="Leden.html">Leden</a>
            <a href="kalender.html">Kalender</a>
            <a href="boetiek.html">Boetiek</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
    <div id="hamburger">
        <div id="nav_balk">
            <a href="index.html">
                <img src="static/assets/Dolfijn_full%201.png" alt="logo">
            </a>
            <img id="menu_open" src="static/assets/Menu-Line-1--Streamline-Micro.png.png" alt="menu">
        </div>
        <div id="uitklap">
            <div>
                <a href="index.html">
                    <img src="static/assets/Dolfijn_full%201.png" alt="logo">
                </a>
                <img id="menu_close" src="static/assets/Close--Streamline-Ultimate.png" alt="close">
            </div>
            <div class="menu-items-burger">
                <a href="over-ons.html">Over ons</a>
                <a href="duiken.html">Duiken</a>
                <a href="Leden.html">Leden</a>
                <a href="gallerij.html">Gallerij</a>
                <a href="kalender.html">Kalender</a>
                <a href="boetiek.html">Boetiek</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </div>
</nav>
