
<nav>
    <a href="index.html">
        <img src="static/assets/Dolfijn%201.png" alt="logo">
    </a>
    <div class="menu-items">
        <a href="over-ons.twig">Over ons</a>
        <a href="duiken.twig">Duiken</a>
        <a href="contact.twig">Contact</a>
        <a href="login.twig">
            <button>Login</button>
        </a>
    </div>
</nav>