{% extends '_snippets/_head.twig' %}

{% block content %}

{% set homeImage = entry.homeImage.one() %}
<div id="header-home" style="background-image:url('{{ homeImage.url }}')">
    <h1>{{  entry.titelH1 }}</h1>
</div>

<main>
    <section id="welkomhome">
        <div class="tekst">
            <h2>Welkom bij duikclub Dolfijn!</h2>
            <p>{{ entry.inleidendeTekstHome }}</p>
            <a href="lessen-initiatie.html">
                <button>Gratis duikinitiatie</button>
            </a>
        </div>
        <div class="fotos">
            <img class="foto-top" src="static/assets/Mask%20group.png" alt="foto">
            <img class="foto-mid" src="static/assets/Mask%20group2.png" alt="foto">
            <img class="foto-bot" src="static/assets/Mask%20group3.png" alt="foto">
        </div>
    </section>
    <section id="aanbodhome">
        <h2>Ons aanbod</h2>
        <div>
            <a href="lessen-initiatie.html">
                <button>Initiatie</button>
            </a>
            <a href="duiken.html">
                <button>Clubduiken</button>
            </a>
            <a href="duiksport.html">
                <button>Trainingen</button>
            </a>
        </div>
    </section>
    {% include '_snippets/_federaties.twig' %}
</main>

{% endblock %}
