<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="frontend/css/main.css" type="text/css">
</head>
<body>
<nav>
    <ul>
        <li>
            <img src="./frontend/assets/Dolfijn_enkelTekst.png" alt="logo duikclub dolfijn">
        </li>
        <li><a>Over ons</a></li>
        <li><a>Duiken</a></li>
        <li><a>Contact</a></li>
    </ul>

</nav>
</body>
</html>
