{% extends '_snippets/_head.twig' %}

{% block content %}

    <main class="text-center">
        <h1>{{ entry.title }}</h1>
        <iframe src="https://calendar.google.com/calendar/embed?height=800&wkst=2&ctz=Europe%2FBrussels&bgcolor=%23ffffff&mode=MONTH&showCalendars=0&title=Duikclub%20Dolfijn&src=ZjdiM2IyNDk3ZjExZDM2OTQwNTQxNTBjYTllZmNmNzZjZDM0YTA0OTE5N2VhZGU2ZDBlY2MxYzgyMzBiNDk2NEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60"
                style="border-width:0" width="80%" height="800" frameborder="0" scrolling="no"></iframe>
    </main>

{% endblock %}