{% extends '_snippets/_head.twig' %}

{% block content %}
<main class="inlogscherm">
    <section class="text-center">
        {% set logo = entry.foto.one() %}
        <img src="{{ logo.url }}" alt="{{ logo.title }}">
        <form method="get" action="mailto:">
            <label for="voornaam">Voornaam</label>
            <br>
            <input type="text" name="voornaam" id="voornaam" required>
            <br>
            <label for="ww">Wachtwoord</label>
            <br>
            <input type="password" name="ww" id="ww" required>
            <br>
            <fieldset>
                <button type="submit">Verzenden</button>
            </fieldset>
        </form>
    </section>
</main>
{% endblock %}